<body>
  <section>
    <div class="top_cards">
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Lecturas OK</mat-card-title>
              <mat-card-subtitle>1.234</mat-card-subtitle>
              <div class="icon check">
                <mat-icon aria-hidden="false" fontIcon="check"
                  style="color: #539B5B;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Lecturas OK</mat-card-title>
              <mat-card-subtitle>1.234</mat-card-subtitle>
              <div class="icon priority_high">
                <mat-icon aria-hidden="false" fontIcon="priority_high"
                  style="color: #FDCF57;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Lecturas OK</mat-card-title>
              <mat-card-subtitle>1.234</mat-card-subtitle>
              <div class="icon warning">
                <mat-icon aria-hidden="false" fontIcon="warning"
                  style="color: #FF1010;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Lecturas OK</mat-card-title>
              <mat-card-subtitle>1.234</mat-card-subtitle>
              <div class="icon close">
                <mat-icon aria-hidden="false" fontIcon="close"
                  style="color: #FF8A48;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </section>
  <section>
    <div class="bottom_cards">
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Temperatura</mat-card-title>
              <mat-card-subtitle class="algo">
                <div class="subtitle_icon check">
                  <mat-icon aria-hidden="false" fontIcon="check"
                    style="color: #539B5B;"></mat-icon>
                  <span>100</span>
                </div>
                <div class="subtitle_card">
                  <div class="subtitle_icon priority_high">
                    <div class="priority_high">
                      <mat-icon aria-hidden="false" fontIcon="priority_high"
                        style="color: #539B5B;"></mat-icon>
                    </div>
                    <span>100</span>
                  </div>
                </div>
              </mat-card-subtitle>
              <div class="icon_bottom device_thermostat">
                <mat-icon aria-hidden="false" fontIcon="device_thermostat"
                  style="color: #33A3AA;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Presión</mat-card-title>
              <mat-card-subtitle>1.234</mat-card-subtitle>
              <div class="icon_bottom speed">
                <mat-icon aria-hidden="false" fontIcon="speed"
                  style="color: #33A3AA;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Viento</mat-card-title>
              <mat-card-subtitle>1.234</mat-card-subtitle>
              <div class="icon_bottom air">
                <mat-icon aria-hidden="false" fontIcon="air"
                  style="color: #33A3AA;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="card">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Niveles</mat-card-title>
              <mat-card-subtitle>1.234</mat-card-subtitle>
              <div class="icon_bottom water_lux">
                <mat-icon aria-hidden="false" fontIcon="water_lux"
                  style="color: #33A3AA;"></mat-icon>
              </div>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </section>
</body>
